.logo{
    margin: 0 auto;
    display:block;
}

.toolbar-title-md{
        color: white;
        font-family: roboto;
    }
.toolbar-title-ios{
        color: white;
        font-family: roboto;
    }

.toolbar-background-md{
    background-image: radial-gradient(circle at top left, #DE0580, #9822DB);
    }
.toolbar-background-ios{
    background-image: radial-gradient(circle at top left, #DE0580, #9822DB);
    }
.gradient{
    background-image: radial-gradient(circle at top left, #DE0580, #9822DB);
}


