<form #registerForm="ngForm" novalidate>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Adresse email</ion-label>
          <ion-input [(ngModel)]="account.email" type="email" name="email" #email="ngModel" required pattern=
          "[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)"></ion-input>
        </ion-item>
        
        <div padding *ngIf="email.invalid && email.dirty">
          <span class="global___input-error">l'adresse email n'est pas valide </span>
        </div>

        <ion-item>
          <ion-label floating>Mot de passe</ion-label>
          <ion-input [(ngModel)]="account.password" type="password" name="password" #password="ngModel" required pattern=
          "(?=^.{6,}$)((?=.*\d)|(?=.*\[A-Z]+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"></ion-input>
        </ion-item>

        <div padding *ngIf="password.invalid && password.dirty">
          <span class="global___input-error">le mot de passe doit comporter au moins 6 caractères et avoir une lettre majuscule </span>
        </div>

      </ion-col>
          
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="cbut">
          <button ion-button small round class="gradient" (click)="register()" [disabled]="registerForm.invalid">S'INSCRIR</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>